.checkout{
  &__wrapper{
    &__loading{
      border-radius: 10px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
      visibility: hidden;
      padding: 10px;
      width: 60px;
      height: 60px;
      transition: all 0.3s;
      background-color: var(--white);
      box-shadow: 0px 10px 48px rgba(0, 0, 0, 0.4);
      svg{
        circle{
          stroke: var(--theme);
          stroke-width: 5px;
        }
      }
    }
    &--loading{
      .checkout__wrapper__loading{
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  .page__side{
    width: 100%;
    flex: 1;
    &:first-child{
      padding-right: 38px;
    }
    &:last-child{
      padding-left: 38px;
      border-left: 1px solid var(--border-color);
    }
  }
  .cart__list,
  .cart__totals{
    max-width: 420px;
  }
  .cart__list{
    padding: 10px 0;
  }
  &__title{
    margin-bottom: 20px;
    h2{
      line-height: 1em;
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__fields{
    max-width: 440px;
    width: 100%;
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
  }
  &__field{
    padding: 0 10px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    &.half{
      width: 50%;
    }
    &__label{
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 13px;
    }
    &__control{
      input, select{
        width: 100%;
      }
    }
    &--radio{
      .control{
        display: inline-block;
        margin: 5px 0;
        margin-right: 30px;
        &:last-child{
          margin-right: 0;
        }
        &__fake{
          font-size: 13px;
        }
      }
    }
  }
  &__buttons{
    font-size: 0;
    .button{
      margin-right: 18px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__notice{
    color: var(--theme);
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 15px;
  }
}