.container {
  max-width: var(--container-width);
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  &__wide {
    max-width: 100%;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--theme) var(--white);
  scrollbar-width: thin;
}

::selection {
  background: var(--theme);
  color: var(--white);
}

::-moz-selection {
  background: var(--theme);
  color: var(--white);
}

::-webkit-scrollbar {
  background: 0 0;
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--theme);
  opacity: 1;
  border-radius: 3px;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  background-color: var(--body-background);
  color: var(--black);
  height: 100%;
  min-height: 100vh;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

a,
.button {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

.subtitle {
  text-align: center;
}

.button {
  cursor: pointer;
  background-color: var(--white);
  color: var(--theme);
  padding: 15px 30px;
  border-radius: 5px;
  transition: all 0.3s;
  line-height: 1em;
  font-size: 13px;
  font-weight: 600;
  border: none;
  position: relative;
  display: inline-block;
  &[disabled] {
    cursor: progress;
  }
  &:not([disabled]):hover {
    color: var(--white);
    background-color: var(--orange);
  }
  &--gray {
    background-color: var(--button-gray);
    color: var(--white);
  }
  &--gray-light {
    background-color: var(--border-color);
    color: var(--footer-title);
  }
  &--red {
    background-color: var(--red);
    color: var(--white);
  }
  &--theme{
    background-color: var(--theme);
    color: var(--white);
  }
  &--loader {
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      visibility: hidden;
      width: 20px;
      height: 20px;
      transition: all 0.3s;
      svg circle {
        stroke: var(--red);
        stroke-width: 4px;
      }
    }
    &.button--loading {
      color: transparent;
      .icon {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.modal {
  &__review {
    max-width: 600px;
    width: 100%;
  }
}

.empty {
  font-size: 18px;
  color: var(--color);
  padding: 15px;
  text-align: center;
}

.pagination {
  &,
  &.navigation {
    text-align: center;
  }
  padding-top: 30px;
  h2 {
    display: none;
  }
  .page-numbers {
    line-height: 35px;
    display: inline-block;
    font-size: 14px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--theme);
    color: var(--white);
    margin: 3px;
    box-shadow: inset 0 0 0 2px var(--theme);
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    &.current {
      background-color: var(--white);
      color: var(--theme);
      &:hover {
        transform: scale(1);
      }
    }
    &.next,
    &.prev {
      width: auto;
      background-color: transparent;
      color: var(--theme);
      font-size: 16px;
      margin: 3px 8px;
      box-shadow: none;
      &:hover {
        transform: scale(1);
      }
    }
  }
}

[data-view],
[data-fancybox] {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  font-size: 0;
  overflow: hidden;
  &:before,
  &:after {
    transition: all 0.3s;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    background-color: var(--theme);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../images/zoom.svg);
    transform: translate(-50%, 0);
    opacity: 0;
    z-index: 3;
  }
  &:hover {
    &:before {
      opacity: 0.7;
    }
    &:after {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

.notic {
  .notic-message {
    width: 260px;
    &-inner {
      // width: auto;
    }
  }
}

.cursor--pointer {
  cursor: progress !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 99;
  transition: all 0.3s;
  &:after {
    display: none;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }
}

.swiper-button-next {
  &:hover {
    background-position: calc(50% - 5px) center;
  }
}

.swiper-button-prev {
  &:hover {
    background-position: calc(50% + 5px) center;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url(../../images/arrow-left.svg);
  left: 30px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url(../../images/arrow-right.svg);
  right: 30px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  padding: 0 30px;
  text-align: right;
  bottom: 40px;
  left: auto;
  width: auto;
  right: 0;
}

.swiper-pagination-bullet {
  background-color: var(--white);
  opacity: 0.2;
  width: 12px;
  height: 12px;
  margin: 0 7px;
  transition: all 0.3s;
  border-radius: 30px;
  &.swiper-pagination-bullet-active {
    width: 30px;
    opacity: 1;
    background-color: var(--orange);
  }
}

.icon {
  font-size: 0;
  svg {
    width: 100%;
    height: auto;
  }
}

.section {
  margin: 80px 0;
  &--mini-margin {
    margin: 40px 0;
  }
  &--no-margin-bottom {
    margin-bottom: 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h2 {
      line-height: 1em;
      font-size: 36px;
      font-weight: 600;
    }
  }
}

.footer {
  .container {
    position: relative;
  }
}

.to-top {
  &-container {
    text-align: right;
    margin: 25px auto;
  }
  width: 64px;
  height: 64px;
  border-radius: 10px;
  background-color: var(--theme);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.24;
  .icon {
    width: 22px;
    svg {
      fill: var(--white);
    }
  }
  &:hover {
    opacity: 1;
    .icon {
      animation: jump 1s linear forwards;
    }
  }
}

.list {
  margin: 20px 0;
}

.load-more {
  &__pagination {
    text-align: center;
    margin: 25px 0;
    &:empty {
      margin: 0;
    }
    &__button {
    }
  }
  .pagination {
    display: none;
  }
}

.breadcrumbs {
  margin: 20px 0;
  font-size: 13px;
  font-weight: 600;
  color: var(--gray);
  li {
    display: inline-block;
    vertical-align: middle;
    &.post_tag:not(:last-child) {
      display: none;
    }
    &:after {
      content: '';
      background-image: url(../../images/seporator.svg);
      width: 7px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 0;
      transition: all 0.3s;
      transform-origin: 50% 50%;
      margin: 0 20px;
    }
    & > span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1em;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  a {
    color: var(--theme);
    transition: all 0.3s;
    &:hover {
      color: var(--orange);
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
  &__select {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    .select {
      margin-left: 15px;
    }
  }
}

.title {
  h1,
  h2,
  h3 {
    font-size: 36px;
    font-weight: 600;
  }
}

.select {
  position: relative;
  min-width: 240px;
  &__current {
    border: 1px solid var(--border-color);
    font-size: 13px;
    font-weight: 500;
    padding: 14px 15px;
    color: var(--button-gray);
    line-height: 1em;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--body-background);
    .icon {
      margin-left: 15px;
      width: 10px;
      height: auto;
      font-size: 0;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      svg {
        stroke: var(--gray-medium);
      }
    }
  }
  &__list {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 20px);
    opacity: 0;
    visibility: hidden;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: all 0.3s;
    background-color: var(--body-background);
    &__item {
      display: block;
      padding: 10px 15px;
      color: var(--button-gray);
      border-bottom: 1px solid var(--border-color);
      transition: all 0.3s;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        color: var(--red);
      }
    }
  }
  &--active {
    .select {
      &__list {
        top: calc(100% + 10px);
        opacity: 1;
        visibility: visible;
      }
      &__current {
        .icon {
          transform: rotate(-180deg);
          svg {
            stroke: var(--red);
          }
        }
      }
    }
  }
}

.date {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  color: var(--gray);
  font-size: 13px;
  font-weight: 500;
  margin-right: 20px;
  .icon {
    width: 20px;
    margin-right: 10px;
    svg {
      fill: var(--gray-medium);
    }
  }
}

.tags {
  display: flex;
  align-items: center;
  a {
    color: var(--red);
    padding: 5px 15px;
    line-height: 1em;
    border: 1px solid var(--red);
    border-radius: 5px;
    transition: all 0.3s;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: var(--white);
      background-color: var(--red);
    }
    &[data-tag='akczii'] {
      border-color: var(--orange);
      color: var(--orange);
      &:hover {
        color: var(--white);
        background-color: var(--orange);
      }
    }
  }
}

.share {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  .ya-share {
    margin-left: 15px;
  }
}

.tabs {
  &__buttons {
    display: flex;
    border-bottom: 1px solid var(--border-color);
  }
  &__button {
    margin-right: 50px;
    padding: 10px 0;
    line-height: 1em;
    font-size: 15px;
    font-weight: 600;
    color: var(--red);
    position: relative;
    display: block;
    transition: all 0.3s;
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      bottom: -1px;
      background-color: var(--red);
      transition: all 0.1s;
    }
    &:hover,
    &--active {
      color: var(--black);
    }
    &--active {
      &:after {
        height: 2px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__contents {
    position: relative;
    overflow: hidden;
  }
  &__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    &--active {
      opacity: 1;
      visibility: visible;
      position: static;
    }
  }
}

.field {
  border-radius: 5px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px;
  line-height: 1em;
  &__button {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    .icon {
      width: 100%;
    }
    svg {
      fill: var(--theme);
      transition: all 0.3s;
    }
    &[disabled] {
      svg {
        fill: var(--gray-medium);
      }
    }
  }
  &__input {
    margin: 0 10px;
  }
}

body .page {
  padding: 30px;
  background-color: var(--white);
  border-radius: 10px;
  margin: 20px 0;
  &__sides {
    display: flex;
    flex-wrap: wrap;
  }
  &__side {
    width: 100%;
    &:first-child {
      width: 490px;
    }
    &:last-child {
      flex: 1;
    }
    &__title {
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__image {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    margin-right: 54px;
  }
  .tags {
    margin: 20px 0;
  }
  &__title {
    margin: 20px 0;
    &:first-child {
      margin-top: 0;
    }
    h1,
    h2,
    h3 {
      line-height: 1em;
      font-size: 36px;
      font-weight: 600;
    }
  }
  &__content {
  }
}

.deliver {
  height: 1px;
  width: 100%;
  background-color: var(--border-color);
  margin: 20px 0;
}

.not-found {
  text-align: center;
  font-weight: 700;
  padding: 40px 0;
  font-size: 15px;
  h1 {
    font-size: 82px;
    font-weight: 700;
    color: var(--theme);
  }
}

body .notic-loading svg {
  stroke: var(--theme);
}

.dd-y {
  display: none;
}

.logo {
  width: 100%;
  max-width: 284px;
  display: block;
  font-size: 0;
  &--mobile {
    display: none;
    max-width: 50px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.toggle {
  display: block;
  cursor: pointer;
  padding: 20px;
  background: transparent;
  border: none;
  &__inner {
    position: relative;
    width: 24px;
    height: 20px;
    span,
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: 3px;
      transition: all 0.3s;
      background-color: var(--white);
    }
    &:before {
      top: 0;
      transform: translateY(0);
    }
    &:after {
      top: 100%;
      transform: translateY(-100%);
    }
  }

  &:hover {
    span {
      width: 80%;
    }
  }
}

.navigation-visible {
  .toggle {
    span {
      width: 0;
    }
    &:hover {
      span {
        width: 0;
      }
    }
    &__inner {
      &:after,
      &:before {
        top: 50%;
      }
      &:after {
        transform: translateY(-50%) rotate(45deg);
      }
      &:before {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}
