.modal {
  width: 100%;
  max-width: 630px;
  padding: 40px;
  display: none;
}

.modal-wrapper {
  .fancybox-bg {
    background-color: #111;
  }
  .fancybox-content {
    border-radius: 10px;
  }
}
