.product {
  &__categories {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      color: var(--black);
      font-size: 14px;
      font-weight: 600;
      padding: 12px 20px;
      transition: all 0.3s;
      &:hover,
      &.active {
        color: var(--theme);
      }
      img {
        width: 30px;
        height: auto;
        margin-right: 10px;
      }
    }
  }
  &__remove {
    width: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    padding: 0;
    svg {
      width: 100%;
      height: auto;
      fill: var(--gray-medium);
      transition: all 0.3s;
    }
    &:hover {
      svg {
        fill: var(--red);
      }
    }
  }
  &__image {
    font-size: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  &__title {
    width: 100%;
    font-size: 15px;
    a {
      font-weight: 500;
      color: var(--black);
      transition: all 0.3s;
      &:hover {
        color: var(--theme);
      }
    }
  }
  &__qty {
    display: flex;
    align-items: center;
    &__action {
      position: relative;
      border: none;
      background-color: transparent;
      width: 15px;
      height: 15px;
      cursor: pointer;
      padding: 0;
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 2px;
        background-color: var(--theme);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      &[disabled] {
        cursor: not-allowed;
        &:before,
        &:after {
          background-color: var(--gray-medium);
        }
      }
      &--minus {
        &:after {
          display: none;
        }
      }
    }
    &__value {
      margin: 0 10px;
      font-size: 13px;
      font-weight: 500;
    }
  }
  &--cart {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    .product {
      &__inner {
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: row;
      }
      &__image {
        width: 60px;
        height: 60px;
        border-radius: 10px;
      }
      &__title {
        font-size: 13px;
        margin-bottom: 10px;
      }
      &__data {
        flex: 1;
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }
      &__price {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  &__popular {
    &__categories {
      display: flex;
      align-items: center;
      margin: 10px -8px;
    }
    &__category {
      border-radius: 30px;
      background-color: var(--white);
      color: var(--theme);
      transition: all 0.3s;
      font-size: 13px;
      font-weight: 500;
      border: none;
      padding: 8px 20px;
      margin: 8px;
      line-height: 1em;
      cursor: pointer;
      &[data-active='true'],
      &:hover {
        color: var(--white);
        background-color: var(--orange);
      }
    }
    &__list {
      display: none;
      &[data-active='true'] {
        display: block;
      }
    }
  }
}

.product {
  &__inner {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__image {
    width: 100%;
    height: auto;
    border-radius: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__data {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header {
      margin-bottom: 5px;
    }
    &__footer {
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__size {
    font-size: 13px;
    color: var(--gray);
    margin-top: 15px;
    line-height: 1em;
  }
  &__prices {
    display: flex;
    align-items: center;
  }
  &__price {
    font-size: 24px;
    font-weight: 700;
    &--old {
      font-size: 16px;
      text-decoration: line-through;
      color: var(--gray);
      margin-left: 8px;
      font-weight: 500;
    }
  }
  &__add {
    width: 40px;
    height: 40px;
    border: 2px solid var(--theme);
    background-color: var(--theme);
    transition: all 0.3s;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      transition: all 0.3s;
      &--loading {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
        visibility: hidden;
        svg {
          circle {
            stroke: var(--white);
            stroke-width: 5px;
          }
        }
      }
      svg {
        fill: var(--white);
      }
    }
    &[disabled] {
      cursor: progress;
      .icon {
        &--loading {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
          visibility: visible;
        }
        &--cart {
          transform: translate(-50%, -50%) scale(0);
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  &__sale {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px 10px;
    background-color: var(--theme);
    border-radius: 30px;
    color: var(--white);
    font-size: 13px;
    font-weight: 600;
  }
}

.products {
  .list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    .product {
      width: 25%;
      padding: 10px;
    }
  }
}

.product {
  &--page {
    padding: 30px;
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
    margin: 20px 0;
    .product {
      &__side {
        width: 100%;
        flex: 1;
        &:first-child{
          padding-right: 15px;
        }
        &:last-child{
          padding-left: 15px;
        }
      }
      &__image {
        border-radius: 10px;
        overflow: hidden;
      }
      &__data{
        padding: 0;
      }
      &__title{
        h1{
          font-size: 36px;
          font-weight: 600;
        }
      }
    }
  }
}
