.socials{
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.social{
  width: 60px;
  height: 60px;
  padding: 10px;
  &:last-child{
    margin-right: 0;
  }
  a{
    display: block;
    height: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    color: #1E88E5;
    background-color: currentColor;
    transition: all 0.3s;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: all 0.3s;
      box-shadow:inset 0 0 0 2px currentColor;
    }
    .icon{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    svg{
      width: 20px;
      height: auto;
      transition: all 0.3s;
    }
    &:hover{
      transform: scale(0.9);
      &:before{
        transform: scale(1.3);
      }
    }
  }
  &--telegram{
    a{
      color: #039BE5;
    }
  }
  &--instagram{
    a{
      color: #F01061;
    }
  }
  &--odnoklassniki{
    a{
      color: #FF9800;
    }
  }
}