.stores {
  &__icon {
    width: 20px;
    svg{
      fill: var(--white);
    }
  }
}

.stores--header {
  margin: 0 40px;
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--theme-dark);
  border-radius: 5px;
  padding: 10px 30px;
  color: var(--white);
  transition: all 0.3s;
  font-size: 0;
  span{
    font-size: 13px;
    font-weight: 600;
  }
  .icon{
    width: 20px;
    margin-right: 6px;
    svg{
      fill: var(--white);
    }
  }
  &:hover{
    background-color: var(--orange);
    .icon{
      animation: jump 1s linear forwards;
    }
  }
}
