@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root{
  --theme: #E31E24;
  --theme-dark: #c12226;
  --white: #ffffff;
  --black: #111111;
  --gray-light: #f2f2f2;
  --gray: #828282;
  --gray-medium: #BDBDBD;
  --orange: #FFA800;
  --red: #E31E24;
  --green: #45841F;
  --red-light: #fce8e8;
  --container-width: 1280px;
  --body-background: #eef2f3;
  --border-color: #E0E0E0;
  --footer: #282828;
  --footer-text: #E0E0E0;
  --footer-title: #828282;
  --button-gray: #4F4F4F;
}
@import 'js/fancybox/fancybox.css';
@import 'js/swiper/swiper.min.css';
@import 'js/datedropper/datedropper.css';
@import 'js/timedropper/timedropper.css';

@import 'scss/variables';
@import 'scss/animations';

@import 'scss/preloader';
@import 'scss/lazy';
@import 'scss/header';
@import 'scss/cart';
@import 'scss/stores';
@import 'scss/contacts';
@import 'scss/search';
@import 'scss/product';
@import 'scss/banners';
@import 'scss/shipping';
@import 'scss/news';
@import 'scss/footer';
@import 'scss/socials';
@import 'scss/navigation';
@import 'scss/shipping-and-payment';
@import 'scss/checkout';

@import 'scss/wordpress-fixies';
@import 'scss/modal';
@import 'scss/control';
@import 'scss/form';
@import 'scss/common';
@import 'scss/content';

@import 'scss/adaptive';

